# Основные библиотеки машинного обучения
torch>=2.0.0  # PyTorch
torchvision>=0.15.0  # Torchvision
torchaudio>=2.0.0  # Дополнительная библиотека PyTorch (опционально)

# Обработка данных и изображений
numpy>=1.20.0  # Для численных операций
opencv-python>=4.5.0  # Для работы с видео и изображениями
pillow>=9.0.0  # Для обработки изображений

# Визуализация и мониторинг
matplotlib>=3.5.0  # Для визуализации результатов
tqdm>=4.62.0  # Для отображения прогресс-баров

# Web-сервер
Flask>=2.0.1
Flask-Cors>=3.0.10
Werkzeug>=2.0.1

# Дополнительные инструменты
uuid>=1.30
python-dotenv>=0.19.2